<!Doctype html>
<html >
<head>
    <title>Donation Form</title>
    <link rel="stylesheet" href="Task_3_style.css" />
</head>
<body>
    <div class="form-container">
        <h2>Make a Donation</h2>
        <form id="donationForm" novalidate>
            <label>Full Name: <input type="text" id="name" required /></label>
            <label>Email Adress: <input type="email" id="email" required /></label>
            <label>Phone Number: <input type="text" id="phone" required /></label>
            <lebel>Password: <input type="password" id="password" required /></lebel>
            <lebel>Donation Amount: <input type="number" id="amount" required/></lebel>
            <lebel><input type="checkbox" id="terms"/>I Agree To The Terms & Conditions.</lebel>
            <button type="submit">Donate Now</button>
        </form>
    </div>
    <script src="Task_3_valid.js"></script>
</body>
</html>